.leaderboard {
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  justify-items: center;
  column-gap: 5px;
  margin-bottom: 5px;
}

.leaderboard div {
  background-color: var(--primary-color-green-800);
  background-color: var(--primary-color-green-100);
  position: relative;
  width: 100%;
  text-align: center;
  opacity: 1;
  z-index: 2;
}
