.dashboard {
  background-color: var(--primary-color-green-200);
  padding: var(--padding-200) 0;
  background: rgb(220, 224, 184);
  background: linear-gradient(
    77deg,
    rgba(220, 224, 184, 1) 71%,
    rgba(49, 54, 7, 1) 71%
  );
}

.dashboard_container {
  display: grid;

  grid-template-columns: 1fr 2fr 1fr;
  min-height: 70dvh;
  width: 90%;
  margin-right: auto;
}

.dashboard_segment_leaderboard {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 1700px) {
  .dashboard_container {
    width: 95%;
  }
}
