.dashboard {
  background-color: var(--primary-color-green-200);
  padding: var(--padding-200) 0;
}

.dashboard_container {
  display: grid;

  grid-template-columns: 1fr 2fr 1fr;
  min-height: 70vh;
  width: 90%;
  margin-right: auto;
}

.dashboard_segment_leaderboard {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 1700px) {
  .dashboard_container {
    width: 95%;
  }
}
