.strava_sync_btn {
  display: block;
  width: 80%;
  padding: var(--padding-400) var(--padding-100);
  background-color: var(--primary-color-green-600);
  border: 1px solid var(--secondary-color-black);
  cursor: pointer;
  font-weight: bold;
}

.strava_sync_btn:hover,
.strava_sync_btn:focus,
.strava_sync_btn:active {
  background-color: var(--primary-color-green);
  scale: 1.01;
}

@media screen and (max-width: 820px) {
  .strava_sync_btn {
    margin: 0 auto;
    position: sticky;
    top: 10rem;
    z-index: 2000;
  }

  /* .strava_sync_btn:hover {
    background-color: var(--primary-color-green-600);
    scale: 1.01;
  } */
}

@media screen and (max-width: 5px) {
}
