.footer {
  background-color: var(--secondary-color-black);
  padding: 2rem 0;
}

.footer_container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr repeat(2, 1fr) 2fr;
  color: var(--secondary-color-white);
  padding-top: var(--padding-200);
  padding-bottom: var(--padding-200);
  padding-right: var(--padding-400);
}

.footer_logo {
  grid-column: 1;
  grid-row: 1;
}

.footer_logo__github {
  height: max-content;
  width: max-content;
  border: 5px solid var(--primary-color-green);
  font-size: 10rem;
}

.footer_logo__github a {
  vertical-align: middle;
  display: flex;
}

.footer_container > :first-child {
  justify-self: start;
}

.footer_logo {
  color: var(--secondary-color-white);
  font-size: 4rem;
  margin-bottom: var(--margin-200);
}

.footer_copyright {
  font-size: 1rem;
  color: var(--primary-color-green);
}

.footer_content {
  grid-row: 1 / span 2;
  text-transform: uppercase;
}

.footer_content h5 {
  margin: calc(var(--margin-100) * 1.7) 0 var(--margin-200) 0;
  color: var(--primary-color-green);
}

.footer_content ul {
  list-style: none;
}

.footer_content ul li {
  margin-bottom: var(--margin-200);
  font-size: 1rem;
}

.footer_list__menu {
  display: flex;
  flex-wrap: wrap;
}

.footer_list__menu li {
  flex: 0 0 50%;
}

.footer_list__social li {
  display: flex;
  align-items: center;
}

.footer_list__social span {
  font-size: 3rem;
  margin-right: var(--margin-100);
}

@media screen and (max-width: 820px) {
  .footer {
    padding-left: var(--padding-500);
  }
}

@media screen and (max-width: 600px) {
  .footer_container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer_logo {
    flex-basis: 40%;
  }

  .footer_logo__github {
    /* flex-basis: 40%; */
    margin: 0 auto;
  }

  .footer_content {
    width: 100%;
  }

  .footer_list__social {
    display: flex;
    flex-wrap: wrap;
  }

  .footer_list__social li {
    flex: 0 1 30%;
  }

  .footer_list__menu li {
    flex: 0 1 25%;
  }

  .footer_logo {
    margin-bottom: 0;
    font-size: 3rem;
  }

  .footer_container > :first-child {
    justify-self: flex-start;
  }
}
