.footer_container {
  /* border-top: 2px solid var(--primary-color-green); */
  background-color: rgb(31, 30, 30);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--primary-color-green);
  margin-top: auto;

  /* background-color: hotpink; */
}

.footer_content ul {
  list-style: none;
}

.footer_content ul li {
  margin-bottom: 0.5rem;
}

.footer_list__social li {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.footer_list__social span {
  font-size: 3rem;
  margin-right: 1rem;
}
