.register_confirm {
  min-height: 60vh;
  /* CHILD WONT INHERIT HIGHT FROM MIN_HEIGHT SET HIEGHT 1PX WORK AROUND */
  /* height: 1px; */
  /* padding: 5rem 0; */
}

.register_confirm_container {
  min-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;

  /* margin: 0 auto; */
}

.strava {
  font-family: 'Candal', sans-serif;
  color: #ff4500;
  font-size: 2rem;
}

.confirm_card_container {
  width: 100%;
  padding: var(--padding-400);
}

.confirm_card_container * {
  margin-bottom: var(--margin-100);
  /* background-color: aqua; */
}

.confirm_card_container p {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.confirm_card_container p:nth-child(2) span:first-of-type {
  font-size: 1.8rem;
}

.confirm_card_container p:last-of-type {
  text-align: center;
  color: var(--primary-color-green);
  font-weight: 700;
}

.confirm_card_btn_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--margin-100);
  padding: var(--padding-100);
  border-top: 2px solid var(--primary-color-green-600);
  width: 60%;
  margin: 0 auto;
}

/* .confirm_card_container button {
  display: block;
  margin: var(--margin-400) auto 0 auto;
} */

.profile_img_container {
  width: max-content;
  height: max-content;
  border-radius: 50%;
  /* background-color: hotpink; */
  /* overflow: hidden; */
  padding: var(--margin-100);
  position: absolute;
  top: -15%;
  /* border: 2px solid var(--primary-color-green-600); */
  /* background-color: #ff4500; */
  /* z-index: 1000; */
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 0 2px var(--primary-color-green-600);
}

/* .profile_img_container::before {
  position: absolute;
  content: '';

  background-color: white;

  width: 100%;
  height: 50%;
  z-index: 200000;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  left: 0px;
  top: 48%;
  border-bottom: 2px solid var(--primary-color-green-600);
  border-left: 2px solid var(--primary-color-green-600);
  border-right: 2px solid var(--primary-color-green-600);
  z-index: 0;
} */

.profile_img_container img {
  border-radius: 50%;
  width: 7rem;
  z-index: 3;
}

@media screen and (max-width: 820px) {
  .register_confirm_container {
    margin: 0 auto;
    width: 100%;
  }
}
