* {
  /* COLOR VARIABLES */
  --primary-color-green: hsl(66, 77%, 22%);
  --primary-color-green-300: hsl(67, 24%, 45%);
  --secondary-color-white: #ffffff;
  --secondary-color-light-blue: #c4d1c4;

  /* FONT VARIABLES */
  --logo-font: 'Alfa Slab One', cursive;

  /* BASE REM FOR HELPERS */
  --base-rem: 1rem;
}
