.md_dashboard {
  background-color: var(--primary-color-green-200);
  padding: var(--padding-200) 0;
}

.md_container {
  min-height: 70dvh;
  width: 90%;
  margin: 0 auto;
}

.md_content {
  width: 100%;
}

.md_nav {
  width: 30rem;
  position: sticky;
  top: 0;
  z-index: 2001;
  margin: 0 auto var(--margin-300) auto;
}

.md_btn {
  background-color: var(--primary-color-green-100);
  border: 2px solid var(--primary-color-green-800);
  width: 50%;
  padding: 2rem 0;
  font-weight: bold;
}

.md_btn:first-of-type {
  border-top-left-radius: 2rem;
}

.md_btn:last-of-type {
  border-bottom-right-radius: 2rem;
}

.md_content_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: var(--margin-100) auto;
}

@media screen and (max-width: 580px) {
  .md_container {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .md_content_grid {
    grid-template-columns: 1fr;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .md_content_grid {
    grid-template-columns: 1fr;
    width: 90%;
  }
}
