.register_grid {
  display: grid;
  grid-template-rows: max-content minmax(70vh, max-content) minmax(
      30vh,
      max-content
    );
}

.register_main {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, max-content) auto;
}

.register_bg_container {
  position: relative;
}

.register_secondary_heading {
  justify-self: center;
  padding: var(--padding-200);
  text-transform: capitalize;
  border-bottom: 5px solid var(--primary-color-green-600);
  width: 40%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.register_form__container {
  display: flex;
  background-color: var(--primary-color-green-100);
  margin: var(--margin-200) auto;
  width: 50%;
  padding: var(--padding-100);
  align-self: center;
  border: 2px solid var(--primary-color-green-600);
}

.register_form__content {
  display: flex;
  flex-direction: column;
  height: max-content;
  flex: 1 1 50%;
  margin: var(--margin-100);
  padding: var(--padding-100);
}

.register_form__content form {
  margin-bottom: var(--margin-200);
}

.register_form__content h4 {
  margin: var(--margin-100) 0;
  color: var(--primary-color-green);
  font-weight: 700;
}

.register_form__content input {
  margin: calc(var(--margin-100) / 2) 0;
  border: 2px solid var(--primary-color-green-600);
  width: 45%;
}

.register_form__content input:last-of-type {
  /* margin-bottom: var(--margin-200); */
}

[data-input='register-email'] {
  width: 100%;
}

input[name='register-email'],
input[name='register-access-token'] {
  width: 100%;
  background-color: #ff4500;
}

input[name='register-password'],
input[name='register-client-id'] {
  margin-right: var(--margin-100);
}

input[name='register-password'],
input[name='register-password-confirm'] {
  /* width: calc(50% - (var(--margin-100) / 2)); */
  width: 50%;
}
input[name='register-client-secret'] {
  width: calc(70% - var(--margin-100));
}

input[name='register-client-id'] {
  width: 30%;
}

.register_form__img {
  width: 300px;
  padding: var(--padding-100);
  align-self: center;
  border: 2px solid var(--primary-color-green-600);
}

.form_change {
  cursor: pointer;
  color: var(--primary-color-green);
}

.help_btn {
  background-color: var(--primary-color-green);
  color: var(--secondary-color-white);
  padding: var(--padding-100);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.form_btn_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sign_up_form {
  position: relative;
}

.sign_up_form input {
  padding: calc(var(--padding-100) / 2);
}

.sign_up_form__input::placeholder {
  transition: transform 0.3s, color 0.3s;
  position: absolute;
}

.sign_up_form input:focus {
  border: 2px solid #ff4500;
  outline: 2px solid #ff4500;
}

[data-form-heading='email'] {
  --input-heading-small-init-pos-top: 15.3%;
  --input-heading-small-init-pos-left: 5%;
  --input-heading-small-end-pos-top: 12.3%;
  --input-heading-small-end-pos-left: 2%;
}

[data-form-heading='password'] {
  --input-heading-small-init-pos-top: 30.3%;
  --input-heading-small-init-pos-left: 5%;
  --input-heading-small-end-pos-top: 26%;
  --input-heading-small-end-pos-left: 2%;
}
.input_heading_small {
  position: absolute;
  font-size: 1rem;

  top: var(--input-heading-small-init-pos-top);
  left: var(--input-heading-small-init-pos-left);
  text-transform: capitalize;
  background-color: var(--primary-color-green-100);
  padding: 0 2px;
  opacity: 0;

  transition: all 0.3s;
  pointer-events: none;
  background-color: #ff4500;
}

.sign_up_form__input:focus + .input_heading_small {
  opacity: 1;
  top: var(--input-heading-small-end-pos-top);
  left: var(--input-heading-small-end-pos-left);
}

.sign_up_form__input:focus::placeholder {
  transform: translateY(-15px);
  color: transparent;
  content: 'jkjllkj';
}

.sign_up_form__input::placeholder .sign_up_form__input:active::placeholder {
  opacity: 0;
}

@media screen and (max-width: 1080px) {
  .register_form__container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .register_form__img {
    display: none;
  }
}

@media screen and (max-width: 412px) {
  [data-wrapper='max-content-width'] {
    max-width: 412px;
  }

  .register_secondary_heading {
    width: 80%;
  }

  .register_main {
    align-content: center;
  }
}
