.header {
  background-color: var(--secondary-color-white);
  padding: 1rem;
  border-bottom: 2px solid var(--primary-color-green);

  border-bottom: 2px solid var(--primary-color-green-600);
}

.heading {
  border: 1px solid var(--primary-color-green);
  padding: 0.5rem 1rem;
  margin: 0 auto 0 20rem;
}
