.error_component {
  margin: 0 auto;
  padding: var(--padding-200);
  border-radius: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-color-white);
  width: 80%;
  text-align: center;
  flex: 0 1 80%;
}

.error_component button {
  margin: 2rem 0;
}

.error_component p {
  background-color: var(--primary-color-green);
  font-size: 2rem;
  padding: var(--padding-100);
  border-radius: 10px;
  color: var(--secondary-color-red);
  font-weight: 700;
  text-transform: uppercase;
}
