.inputContainer {
  position: relative;
  display: inline-block;
  margin-bottom: var(--margin-100);
}

.inputContainer_input,
.inputContainer_input__error {
  width: 100%;
  padding: calc(var(--padding-100) / 2);
}

.inputContainer_input {
  border: 2px solid var(--primary-color-green-600);
}
.inputContainer_input:focus {
  border: 2px solid var(--primary-color-green-800);
  outline: 2px solid var(--primary-color-green-800);
}
.inputContainer_input__error,
.inputContainer_input__error:focus {
  border: 2px solid red;
  outline: 2px solid red;
}

/* STYLE APPLIES IF INPUT VALUE IS NOT EMPTY */
.inputContainer_input[value]:not([value=''])
  ~ .inputContainer_placeholder__small,
.inputContainer_input__error[value]:not([value=''])
  ~ .inputContainer_placeholder__small {
  transform: translateY(-100%);
  opacity: 1;
}

.inputContainer_input:focus
  + .inputContainer_placeholder
  .inputContainer_input__error:focus
  + .inputContainer_placeholder {
  transform: translateY(-50%);
  opacity: 0;
}

.inputContainer_input:focus ~ .inputContainer_placeholder__small,
.inputContainer_input__error:focus ~ .inputContainer_placeholder__small {
  transform: translateY(-100%);
  opacity: 1;
}

.inputContainer_placeholder,
.inputContainer_placeholder__small {
  position: absolute;
  pointer-events: none;
}

.inputContainer_placeholder {
  top: 20%;
  left: 10px;
  color: var(--primary-color-green);
  transition: all 0.3s;
  text-transform: capitalize;
}

.inputContainer_input ~ .inputContainer_placeholder__small {
  background-color: var(--primary-color-green-800);
}
.inputContainer_input__error ~ .inputContainer_placeholder__small {
  background-color: red;
  transition: all 0s;
}

.inputContainer_placeholder__small {
  font-size: 1rem;
  padding: 0 2px;
  left: 10px;
  color: var(--primary-color-green-100);
  text-transform: capitalize;
}

.inputContainer_placeholder__small {
  top: 20%;
  opacity: 0;
  transition: all 0.3s;
}
