.inputContainer {
  position: relative;
  display: inline-block;
  /* width: 100%; */
  /* height: max-content; */
}

.inputContainer_input {
  /* display: inline-block; */
}

.inputContainer_placeholder,
.inputContainer_placeholder__small {
  position: absolute;
  pointer-events: none;
}

.inputContainer_placeholder {
  top: 20%;
  left: 2%;
  color: var(--primary-color-green);
  transition: all 0.3s;
  text-transform: capitalize;
}

.inputContainer_placeholder__small {
  font-size: 1rem;
  background-color: #ff4500;
  padding: 0 2px;
  left: 2%;
}

.inputContainer_placeholder__small {
  top: 20%;
  opacity: 0;
  transition: all 0.3s;
}

.inputContainer_input[value]:not([value=''])
  ~ .inputContainer_placeholder__small {
  transform: translateY(-100%);
  opacity: 1;
}

.inputContainer_input:focus + .inputContainer_placeholder {
  transform: translateY(-50%);
  opacity: 0;
}

.inputContainer_input:focus ~ .inputContainer_placeholder__small {
  transform: translateY(-100%);
  opacity: 1;
}
